//====================icons
.icon {
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	background: url('../images/sprite.png') no-repeat transparent;
	position: relative;
	vertical-align: middle;
}

.icon-zoom {
	width: 60px;
	height: 60px;
	background: url('../svg/icon-zoom.svg') no-repeat transparent;
	-webkit-background-size: cover;
	background-size: cover;
}

.will-change {
	background: none;

	&::before,
	&::after {
		@include general-transition;
		@include abs-center;
		content: "";
		overflow: hidden;
		background: url('../images/sprite.png') no-repeat transparent;
	}

	&::before {
		opacity: 1;
	}

	&::after {
		opacity: 0;
	}

	&:hover,
	&:active,
	&.active {

		&::before {
		opacity: 0;
		}

		&::after {
		opacity: 1;
		}
	}

	&:hover,
	&:active,
	a:hover &,
	a:active &,
	.question:hover &,
	.question:active &,
	.question-item.active .question & {

		&::before {
		opacity: 0;
		}

		&::after {
		opacity: 1;
		}
	}
}

//==================== SVG icons
.svg-icon {
	@include general-transition;
	display: inline-block;
	vertical-align: middle;
	fill-rule: evenodd;
	clip-rule: evenodd;
}

.close {
	width: 28px !important;
	height: 28px !important;
	background: url("../images/cancel.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

	a:hover &,
	a:active & {
		fill: $accent-color;
	}
}

.light-builb,
.celsius{
	.yellow{
		fill:#FFED00;
	}
}

.data{
	.yellow{
		fill:#FFED00;
	}
	.st1{
		font-family: 'Exo';
	}
	.st2{
		font-size:185.3171px;
	}
}

.flash{
	.yellow{
		fill:#FFED00;
	}
}

.left-arrow,
.right-arrow{
	.black{
		stroke:#000000;
		stroke-width:8;
		stroke-miterlimit:10;
	}
}

.left-white-arrow,
.right-white-arrow{
	.white{
		fill:#ffffff;
	}
}

.left-grey-arrow,
.right-grey-arrow{
	.grey{
		fill:#E4E6E6;
		stroke:#E4E6E6;
		stroke-width:8;
		stroke-miterlimit:10;
	}
}

.plug,
.computing{
	.yellow{
		fill:#FFED00;
	}
	.black{
		stroke:#000000;
		stroke-width:5;
		stroke-miterlimit:10;
	}
}

.protection{
	.yellow{
		fill:#FFED00;
	}
}

.right-arrow-yellow{
	.yellow{
		fill:#FFED00;
	}
}

.device{
	.yellow{
		fill:#FFED00;
	}
	.black{
		fill:#030303;
	}
}