//==================== section
[class*="section-"] {
  position: relative;
  z-index: 1;
}

.btn-yellow {
  display: inline-block;
  width: 244px;
  height: 65px;
  box-shadow: 0 4px 0 #dbcd00;
  border-radius: 2px;
  background-color: #ffed00 !important;
  text-align: center;
  color: #181818 !important;
  font: 500 16px/65px 'Exo';
  text-transform: uppercase;
  @extend .btn-ghost;
}

//==================== section heading
.section-heading {
  padding: 288px 0 141px;
  position: relative;

  .wrapper-heading-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1077px;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.59;
      z-index: 1;
    }


    .background-heading {
      width: 100%;
      height: 1077px;

      &.i-1 {
        background: url("../images/header-bg.jpg") 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }

      &.i-2 {
        background: url("../images/form-bg.jpg") 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }

      &.i-3 {
        background: url("../images/header-bg.jpg") 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }

      &.i-4 {
        background: url("../images/form-bg.jpg") 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }

    .heading-pagination {
      bottom: 103px !important;
    }
  }

  .small-text {
    text-align: center;
    font: 500 29px/29px 'Exo';
    margin-bottom: 30px;
    color: #fff;
  }

  h1 {
    color: #fff;
    text-transform: uppercase;
    font: 600 70px/87px 'Exo';
    margin-bottom: 32px;
    text-align: center;
  }

  .address-text {
    color: #fff;
    text-align: center;
    font: 500 29px/29px 'Exo';
    margin-bottom: 75px;
  }

  .more-block {
    display: block;
    margin: 0 auto;
    width: 734px;

    .btn-yellow{
      margin-left: 39px;
      margin-top: 3px;
    }

    .more-block__text {
      display: inline-block;
      vertical-align: top;
      float: right;
      font: 300 19px/24px 'Exo';
      color: #fff;
      font-style: italic;
      width: 415px;
    }
  }

  .last-wrapper {
    color: #fff;
    width: 884px;
    margin: 82px auto 0;
    display: flex;
    justify-content: space-between;

    .last-wrapper__block {
      display: inline-block;
      width: 173px;

      &.i-1{
        width: 200px;
      }

      &.i-2{
        width: 187px;
      }

      &.i-3{
        width: 165px;
      }

      .title {
        display: block;
        font: 500 38px/38px 'Exo';
        margin-bottom: 13px;
      }

      .text {
        font: 300 15px/22px 'Exo';
      }
    }
  }
}


//==================== section-green
.section-green {
  background-color: #0e403d;
  padding-top: 22px;
  padding-bottom: 23px;

  .container {
    width: 1195px;
  }

  .title {
    color: #fff;
    font: 500 32px/55px 'Exo';
    display: inline-block;
  }

  .btn-white {
    display: inline-block;
    width: 244px;
    height: 65px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background-color: transparent !important;
    text-align: center;
    color: #ffffff !important;
    font: 500 16px/65px 'Exo';
    text-transform: uppercase;
    margin-top: -2px;

    &:hover {
      @include general-transition;
      border: 2px solid #ffed00;
      background-color: #ffed00 !important;
      color: #181818 !important;
    }
  }
}

//==================== section-technical
.section-technical {
  background-color: #f6f6f6;
  padding-top: 101px;
  padding-bottom: 119px;

  .container {
    width: 1195px;
  }

  .title {
    color: #181818;
    font: 600 56px/56px 'Exo';
    margin-bottom: 40px;
  }

  .text {
    color: #181818;
    font: 500 24px/34px 'Exo';
    margin-bottom: 70px;
    width: 95%;
  }

  .technical-img {
    margin-top: 39px;
    margin-right: 20px;
  }
}


//==================== section-options
.section-options {
  padding-top: 139px;

  .container {
    width: 1195px;
  }

  h1 {
    color: #181818;
    font: 600 71px/64px 'Exo';
    margin-bottom: 87px;
  }

  .options-block {
    width: 275px;
    display: block;
    margin: 0 auto 20px;
    height: 303px;
    border: 1px solid #e8e8e8;
    padding-top: 33px;
    text-align: center;

    &:hover {
      @include general-transition;
      background-color: #ffed00;

      .light-builb{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }

      .protection{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }

      .plug{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }

      .flash{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }

      .data{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }

      .celsius{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }

      .computing{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }

      .device{
        @include general-transition;
        .yellow{
          fill: #000;
        }
      }
    }

    .options-block__icon {
      display: block;
      margin-bottom: 5px;

      &.i-1 {
        width: 58px;
        margin-left: 36px;
      }

      &.i-2 {
        width: 50px;
        margin-bottom: 13px;
        margin-left: 39px;
      }

      &.i-3 {
        width: 60px;
        margin-left: 46px;
      }

      &.i-4 {
        width: 57px;
        margin-bottom: 5px;
        margin-left: 30px;
      }

      &.i-5 {
        width: 54px;
        margin-top: 3px;
        margin-left: 34px;
        margin-bottom: 10px;
      }

      &.i-6 {
        width: 54px;
        margin-bottom: 10px;
        margin-left: 35px;
      }

      &.i-7 {
        width: 56px;
        margin-top: -20px;
        margin-bottom: 0;
        margin-left: 51px;
      }

      &.i-8 {
        width: 55px;
        margin-left: 40px;
        margin-bottom: 11px;
      }
    }

    .options-block__title {
      display: block;
      margin: 0 auto 17px;
      color: #181818;
      font: 600 36px/36px 'Exo';

      &.margin-top{
        margin: 0 auto 18px;
      }
    }

    .options-block__text {
      width: 205px;
      display: block;
      margin: 0 auto;
      color: #656565;
      font: 300 18px/24px 'Exo';

      &.a-1{
        width: 214px;
      }
    }
  }
}

//==================== section-service
.section-service {
  padding-top: 117px;

  .container {
    background-color: #0e403d;
    border-radius: 12px;
    margin-bottom: 374px;
  }

  .wrapper {
    width: 1032px;
    height: 535px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 77px;

    h1 {
      color: #fff;
      font: 600 71px/71px 'Exo';
      margin-bottom: 57px;
      margin-left: 15px;
    }

    .tab-header {
      display: block;
      width: 100%;
      margin-bottom: 38px;

      h3 {
        color: #181818;
        display: inline-block;
        text-transform: uppercase;
        font: 500 48px/48px 'Exo';
      }

      .sub_title {
        color: #181818;
        width: 480px;
        display: inline-block;
        vertical-align: top;
        font: 600 26px/34px 'Exo';
        text-decoration: underline;
        margin-left: 55px;
      }
    }

    .tab-text {
      width: 100%;
      display: block;

      .text {
        display: inline-block;
        width: 660px;
        color: #4a4a4a;
        font: 400 20px/34px 'Myriad';
      }

      .price-block {
        width: 196px;
        display: inline-block;
        vertical-align: top;
        float: right;
        margin-top: 5px;

        span {
          color: #5f5f5f;
          display: block;
          font: 500 26px/38px 'Exo';

          &:nth-child(1) {
            margin-bottom: 3px;
          }

          &:nth-child(2) {
            margin-top: 27px;
          }
        }

        .price-text {
          width: 100%;
          display: block;
          color: #181818;
          font: 600 48px/48px 'Exo';
          position: relative;

          &:after{
            content: '';
            width: 35px;
            height: 35px;
            position: absolute;
            top: 8px;
            right: 13px;
            background: url("../svg/ruble.svg");
          }


          span {
            display: inline-block;
            color: #181818;
            font: 500 48px/48px 'Exo', sans-serif;
          }
        }

      }
    }
  }

  .more-block{
    width: 1042px;
    display: block;
    margin: 440px auto 0;
    padding-left: 54px;
    position: relative;

    .text{
      width: 440px;
      display: inline-block;
      color: #181818;
      font: italic 500 20px/30px 'Exo';
      position: relative;

      &:after{
        content: '';
        width: 41px;
        height: 41px;
        display: block;
        position: absolute;
        top: 18px;
        right: -75px;
        background: url("../svg/rigt2.svg") no-repeat;
        background-size: cover;
      }
    }

    .btn-yellow{
      margin-left: 111px;
      vertical-align: top;
      margin-top: 5px;
    }
  }
}

//==================== section-include
.section-include{
  padding-top: 4px;
  padding-bottom: 197px;

  .container{
    width: 1195px;
  }

  h3{
    font: 600 38px/38px 'Exo';
    margin-bottom: 78px;
  }

  .left-block{
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  .right-block{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    float: right;
    padding-left: 19px;
  }

  .list{
    width: 100%;
    font: 500 18px/35px 'Exo';
    margin-bottom: 10px;

    .empty{
      width: 16px;
      display: inline-block;
    }
  }

  .lamp-block{
    margin-left: 22px;
    width: 100%;
    display: block;
    margin-top: 82px;

    .lamp-block__icon{
      display: inline-block;
      width: 110px;
      height: 110px;
      border: 1px solid #bababa;
      border-radius: 100%;
      position: relative;

      .light-builb{
        @include abs-center;
        width: 58px;
        height: 58px;
        //background: url("../svg/light-bulb.svg") no-repeat;
        //background-size: cover;

      }
    }

    .lamp-block__text{
      display: inline-block;
      vertical-align: top;
      width: 370px;
      margin-left: 35px;
      margin-top: -12px;

      .number{
        color: rgba(61, 63, 63, 0.5);
        font: 400 15px/15px 'Exo';
        display: block;
        margin-bottom: 14px;
      }

      .title{
        font: 600 25px/25px 'Exo';
        display: block;
        margin-bottom: 12px;
      }

      .text{
        font: 500 18px/24px 'Exo';
      }
    }
  }
}

//==================== section-question
.section-question{
  background-color: #0e403d;
  padding-top: 153px;
  padding-bottom: 173px;

  .container{
    width: 1197px;
  }

  h1{
    color: #fff;
    font: 600 71px/71px 'Exo';
    margin-bottom: 89px;
  }

  .questions-item,
  .questions-item-2,
  .questions-item-3,
  .questions-item-4{
    border-top: 1px solid rgba(221, 221, 221, 0.36);


    &:nth-child(4){
      border-bottom: 1px solid #dddddd;
    }

    .questions{
      padding: 51px 53px 44px;
      display: block;
      cursor: pointer;

      &:hover{
          background-color: #ffed00;

          .number{
            color: #1b1b1b;
          }

          .questions-text{
            color: #1b1b1b;
          }

        .questions-arrow-holder{
          color: #1b1b1b;
        }
      }

      .number{
        width: 45px;
        display: inline-block;
        color: #fff;
        font: 500 35px/35px 'Exo';
        margin-right: 26px;
        vertical-align: top;
        margin-top: 8px;
      }

      .questions-text{
        width: 910px;
        display: inline-block;
        font: 500 22px/24px 'Exo';
        color: #fff;
      }

      .questions-arrow-holder{
        display: inline-block;
        font: 300 47px/47px 'Exo';
        color: #fff;
        float: right;
        vertical-align: top;
        margin-right: -3px;

        .minus{
          display: none;
        }
      }
    }

    &.active{
      .questions{
        padding: 35px 53px 39px;
        background-color: #ffed00;

        .number{
          color: #1b1b1b;
        }

        .questions-text{
          color: #1b1b1b;
        }
      }
      .questions-arrow-holder{
        .plus{
          display: none;
        }

        .minus{
          display: block;
          color: #1b1b1b;
        }
      }
    }
  }

  .answer{
    background-color: rgba(232, 232, 232, 0.05);
    padding-top: 18px;
    padding-bottom: 31px;


    p{
      width: 905px;
      display: block;
      margin: 0 auto;
      color: #fff;
      font: 400 17px/25px 'Exo';
    }
  }
}

//==================== section-review
.section-review{
  background-color: #f6f6f6;
  padding-top: 204px;
  padding-bottom: 245px;

  .container{
    width: 1195px;
  }

  h1{
    font: 600 71px/71px 'Exo';
    margin-bottom: 96px;
  }

  .review-wrapper{
    width: 752px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;

    .review-block{
      display: inline-block;
      width: 140px;

      .title{
        display: block;
        font: 600 65px/65px 'Exo';
        margin-bottom: 20px;
      }

      .line-yellow{
        width: 25px;
        height: 3px;
        background-color: #ffed00;
        margin-bottom: 10px;
        margin-left: 0;
      }

      .text{
        color: #4d4d4d;
        font: 400 26px/30px 'Exo';
      }

    }
  }

  .wrapper-review-slider{

    .border-block{
      @include img-zoom(#ffed00, .35, 4);
      box-shadow: 0 2px 27px rgba(0, 0, 0, 0.12);
      border: 17px solid #ffffff;
      width: 351px;
      height: 486px;
      overflow: hidden;

      &.i-3{
        border: 17px solid rgba(256, 256, 256, 0.75);
      }
    }

    .img-block{
      width: 351px;
      height: 470px;
      display: block;
    }

    .button-block{
      width: 120px;
      height: 60px;
      position: absolute;
      top: 306px;
      right: 1%;

      .review-next,
      .review-prev{
        width: 55px;
        height: 55px;
        display: inline-block;
        position: relative;
        vertical-align: top;

        &:after{
          content: '';
          display: none !important;
        }

        .left-grey-arrow,
        .right-grey-arrow{
          width: 40px;
          height: 48px;
          @include abs-center;
        }

        &:hover{
          background-color: #ffed00 !important;

          .left-grey-arrow,
          .right-grey-arrow{
            .grey{
              fill: #000000;
              stroke: #000000;
            }
          }
        }
      }
    }
  }
}

//==================== section-experience
.section-experience{
  padding-top: 162px;
  padding-bottom: 230px;

  .container{
    width: 1195px;
  }

  h1{
    font: 500 71px/71px 'Exo';
    margin-bottom: 88px;
  }

  .wrapper-experience-slider{
    overflow: hidden;

    .experience-pagination{
      width: 100%;
      height: 7px;
      top: 67%;

      .swiper-pagination-progressbar-fill{
        background-color: #ffed00;
      }
    }

    img{
      width: 100%;
      display: block;
      margin-bottom: 52px;
    }

    .title{
      font: 500 47px/47px 'Exo';
      display: block;
      margin-bottom: 70px;
    }

    .experience-next,
    .experience-prev{
      //width: 33px;
      //height: 24px;
      display: inline-block;
      vertical-align: top;
      top: 44%;

      &:after{
        content: '';
        display: none !important;
      }

      .left-white-arrow,
      .right-white-arrow{
        //width: 33px;
        //height: 24px;
      }

      &:hover{

        .left-white-arrow,
        .right-white-arrow{
          .white{
            fill: #000000;
            stroke: #000000;
          }
        }
      }
    }

    .experience-prev{
      left: 4%;
    }

    .experience-next{
      right: 4%;
    }
  }
}


//==================== section-data
.section-data{
  background-color: #f6f6f6;
  padding-top: 145px;

  .container{
    width: 1195px;
  }

  h1{
    font: 600 71px/71px 'Exo';
    margin-bottom: 60px;
  }

  .sub_title{
    width: 800px;
    display: block;
    font: 400 24px/34px 'Exo';
    color: #181818;
    margin-bottom: 76px;
  }

  .btn-grey{
    display: inline-block;
    margin-right: 13px;
    height: 63px;
    background-color: #ffffff;
    text-align: center;
    font: 400 20px/63px 'Exo';
    padding-left: 27px;
    padding-right: 27px;
    color: #181818 !important;
    margin-bottom: 100px;

    &:hover{
      background-color: #ffed00;
    }

    &.i-1{
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .wrapper-data-slider{
    width: 100%;
    height: 653px;
    position: relative;

    .data-bg{
      width: 100%;
      height: 660px;
      background: url("../images/center-slider-img.jpg") 50% 50% no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .btn-block{
      width: 100%;
      height: 30px;
      @include abs-center;
    }

    .data-next,
    .data-prev{
      width: 70px;
      height: 70px;
      display: inline-block;
      vertical-align: top;
      background-color: #fff !important;
      top: 45%;
      position: relative;

      &:after{
        content: '';
        display: none !important;
      }

      .left-white-arrow,
      .right-white-arrow{
        width: 53px;
        height: 53px;
        @include abs-center;

        .white{
          fill: #000000;
          stroke: #000000;
        }
      }

      &:hover{
        background-color: #ffed00 !important;

      }
    }

    .data-prev{
      left: 0%;
    }

    .data-next{
      right: 0%;
      float: right;
    }
  }
}


//==================== section-square
.section-square{
  background-color: #0e403d;
  padding-top: 103px;
  padding-bottom: 97px;

  .container{
    width: 1195px;
  }

  .square-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -35px;

    &.m-1{

      .square-block{
        margin-top: -5px;

        .title{
          margin-bottom: 18px;
        }

        .line{
          margin-bottom: 9px;
        }
      }
    }

    .square-block{
      display: inline-block;
      width: 357px;
      padding: 40px 37px 40px 35px;

      &.i-1{
        width: 400px;
      }

      .title{
        color: #ffffff;
        font: 500 52px/52px 'Exo';
        display: block;
        margin-bottom: 21px;
      }

      .line-white{
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin-bottom: 11px;
      }

      .text{
        color: #ffffff;
        display: block;
        font: 400 22px/30px 'Exo';
      }

      &:hover{
        @include general-transition;
        background-color: #ffed00;

        .title{
          color: #181818;
        }

        .line-white{
          background-color: #181818;
        }

        .text{
          color: #181818;
        }
      }
    }
  }
}


//==================== section-infrastructure
.section-infrastructure{
  padding-top: 187px;
  padding-bottom: 183px;

  .container{
    width: 1195px;
  }

  h1{
    font: 600 71px/71px 'Exo';
    margin-bottom: 91px;
  }

  .infrastructure-wrapper{
    width: 100%;
    height: 347px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;

    .infrastructure-img{
      display: inline-block;
      width: 49%;
    }

    .infrastructure-block{
      width: 51%;
      display: inline-block;
      background-color: #f6f6f6;
      padding: 53px 44px 40px;

      &.i-1{
        padding: 24px 20px 48px 46px;
      }

      &.i-2{
        padding: 56px 30px 48px 45px;
      }

      .title{
        font: 500 43px/48px 'Exo';
        margin-bottom: 23px;
      }

      .line-yellow{
        width: 25px;
        height: 3px;
        background-color: #ffed00;
        margin-bottom: 13px;
        margin-left: 0;
      }

      .text{
        color: #545454;
        letter-spacing: 0.5px;
        font: 500 20px/30px 'Exo';
      }
    }

    &:hover{
      @include general-transition;
      .infrastructure-block{
        @include general-transition;
        background-color: #ffed00;

        .line-yellow{
          background-color: #181818;
        }

        .text{
          color: #181818;
        }
      }
    }
  }
}


//=============== section-last
.section-last{
  background-color: #dddddd;
  padding-top: 10px;
  padding-bottom: 12px;

  .container{
    width: 1195px;
  }

  .dark{
    color: #292a29;
    font: 400 14px/17px 'Myriad';

    &.link{
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }
  }
}