//====================global footer
.layout-footer {
	background-color: #292a29;
	padding: 64px 0 67px;

	.container{
		width: 1195px;
	}

	.logo{
		display: inline-block;
		margin-right: 44px;
	}

	.logo-text{
		display: inline-block;
		vertical-align: top;
		color: #ffffff;
		font: 300 16px/27px 'Exo';
		margin-top: -1px;
	}

	.si-phone {
		display: inline-block;
		margin-top: 10px;

		.phone-link {
			display: block;
			font: 500 27px/27px 'Exo';
			margin-bottom: 22px;
			color: #fff !important;
		}

		.consult {
			display: block;
			width: 239px;
			height: 58px;
			border-radius: 2px;
			border: 2px solid #ffffff;
			text-align: center;
			color: #fff !important;
			font: 300 17px/55px 'Exo';
			margin-right: 3px;

			&:hover{
				@include general-transition;
				border: 2px solid #ffed00;
				background-color: #ffed00;
				color: #181818 !important;
			}
		}
	}
}

.company-address-block {

	dl {
		margin-bottom: 0px;
	}

	dt {
	}

	dd {
	}
}

.company-info-block{

	p {
		margin-bottom: 0px;
	}
}

.copyright {
  	margin-top: 0px;
}