//==================== modal overlay
html {

	&.si-lock {
		overflow: hidden !important;
	}

	&.si-lock2 {
		height: 100% !important;
		overflow: hidden !important;
	}
}

.fancybox-margin {
  	margin-right: 0 !important
}

.si-overlay {
	@include abs-center-fixed;
	display: none;
	background: transparentize(#fff, .2);
	z-index: 203;
}

.si-overlay-2 {
	@extend .si-overlay;
	z-index: 205;
}

.si-modals-wrapper {
	@include abs-center-fixed;
	display: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 203;
}

.si-modals-wrapper-2 {
	@extend .si-modals-wrapper;
	z-index: 205;
}

//==================== modal close
.si-close {
	@extend .icon;
	@extend .close !optional;
	position: absolute !important;
	top: -28px;
	right: 0;

	&.success-close{
		top: -48px;
		right: -20px;
	}
}

//==================== modal - basic
.si-modal {
	@include general-transition;
	@include transform(scale(0.7));
	transition-duration: 0.5s;
	display: none;
	position: relative;
	color: #181818;
	background: #fff;
	padding: 74px 80px 70px 75px;
	width: 1167px;
	margin: 50px auto;
	border: 1px solid #e8e8e8;
	box-shadow: 0 6px 27px 8px rgba(24, 24, 24, 0.1);
	border-radius: 6px;

	&.si-visible {
		@include transform(scale(1));
	}

	.btn-holder {
		margin-top: 0px;
	}

	.btn {
		min-width: 300px;
	}

	.modal-form-title{
		letter-spacing: 1.63px;
		font: 700 65px/74px 'Exo';
		margin-bottom: 30px;
	}

	.modal-time{
		letter-spacing: 0.82px;
		font: 500 33px/33px 'Exo';
		display: block;
		margin-bottom: 24px;
	}

	.arrow{
		width: 83px;
		height: 49px;
		display: block;
	}

	input{
		width: 100%;
		color: #181818 !important;
		font: 500 17px/17px 'Exo';
		padding-bottom: 56px;
		border-bottom: 1px solid #d1d1d1 !important;
		margin-bottom: 30px;
	}

	.form-agree-check{
		color: #555555;
		margin-top: 30px;
		width: 90%;
		font: 500 14px/20px 'Exo';
		letter-spacing: 0.35px;
		margin-bottom: 40px;
	}
}


//==================== modal - text
.modal-text-block {
  	margin-top: 0px;
}

//==================== modal - success
.si-success-modal {
	@extend .si-modal;
	width: 700px;
	height: 483px;
	border: 20px solid #000000;
	background-color: #ffffff;
	padding-top: 130px;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	strong {
		display: block;
	}
}

.si-success-modal-title {
  	@extend .modal-form-title !optional;
	color: #131313;
	font: 600 37px/37px 'Exo' !important;
}

.line-yellow{
	display: block;
	margin: 15px auto 23px;
	width: 58px;
	height: 5px;
	background-color: #ffed00;
}

.success-time {
  	@extend .modal-time !optional;
	font: 500 24px/29px 'Exo' !important;
	color: #3e3e3e;
}

//==================== message
.si-page-message-overlay {
	@include general-transition;
	@include abs-center-fixed;
	display: block;
	visibility: hidden;
	z-index: 299;
	background: transparentize(#000, .2);
	transition-duration: 0.5s;

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

.si-page-message {
	@include general-transition;
	@include abs-center-fixed;
	transition-duration: 0.5s;
	width: 101%;
	height: 0;
	color: #fff;
	background: $accent-color;
	opacity: 0;
	visibility: hidden;
	z-index: -5;
	box-shadow: 0 0 10px #000;

	&.show {
		height: 200px;
		opacity: 1;
		visibility: visible;
		z-index: 300;
	}
}

.si-page-message-inner {
	@include general-transition;
	font-size: 30px;
	line-height: 36px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	transition-duration: 0.5s;
	opacity: 0;
	position: relative;

	&.show {
		opacity: 1;
	}

	.centered {
		display: table;
		width: 100%;
		height: 100%;
	}
}

.si-page-message-text {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}