//==================== tabs
.nav.nav-tabs {
	width: 100%;
	margin-bottom: 57px;
	margin-left: 18px;

	&.nav-question{
		margin-left: 0;
		margin-bottom: 53px;

		.tab-link{
			@extend .tab-link;
			padding-left: 28px;
			padding-right: 28px;

			&.i-1{
				padding-left: 22px;
				padding-right: 22px;

			}

			&.i-2{
				padding-left: 29px;
				padding-right: 29px;
			}
		}
	}

	.tab-link{
		display: inline-block;
		background-color: rgba(255, 255, 255, 0.05);
		text-align: center;
		height: 63px;
		color: #fff;
		font: 500 20px/61px 'Exo';
		padding-left: 30px;
		padding-right: 29px;
		width: auto;
		margin-right: 12px;

		&.i-1{
			padding-left: 56px;
			padding-right: 56px;

		}

		&.i-2{
			padding-left: 19px;
			padding-right: 19px;
		}

		&.active{
			border-bottom: 3px solid #ffed00;
		}
	}
}

.tab-link {
	@include general-transition;
	cursor: pointer !important;
}

.tabs-content-container {
	width: 100%;
	height: 350px;
	overflow: hidden;
	position: absolute;
	border-radius: 12px;
	background-color: #ffffff;
	box-shadow: 0 10px 25px rgba(24, 24, 24, 0.07);
	padding: 52px;
}

.tabs-question{
	height: auto;
	position: relative;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	border-radius: 3px;
	margin: 0 auto;
	width: 99%;
}

.tab-content {
	@include general-transition;
	width: 100%;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: relative;
	z-index: 5;

	&.active {
		opacity: 1;
		height: auto;
		z-index: 10;
	}
}